.board_container {
  display: flex;
  margin-top: 3%;
  margin-left: 5%;
}
table {
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  width: 80vw;
  height: 80vh;
}
tr {
  position: relative;
}

td {
  text-align: center;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  width: 20%;
  height: 10%;
}
.numbers {
  height: 8.5vh;
  gap: 2%;
  font-size: 0.8vw;
}
